<html>
<head>
    <title>Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>

<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="disabled talk outline icon"></i>Blog Site</div>
        <a href="/" class="item"><i class="large home icon"></i>Home</a>
        <a href="/blogs/new" class="item"><i class="large add square icon"></i>New Post</a>
    </div>
</div>